name: Main workflow

on:
  pull_request:
  push:
  schedule:
    - cron: 0 0 * * 5

jobs:
  install:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install asdf
        run: git clone https://github.com/asdf-vm/asdf.git $HOME/asdf

      - name: Install sml
        run: |
          . $HOME/asdf/asdf.sh
          asdf plugin-add sml $GITHUB_WORKSPACE
          asdf install sml latest
        env:
          GITHUB_API_TOKEN: ${{ github.token }}

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install bats
        run: brew install bats-core

      - name: Install asdf
        run: git clone https://github.com/asdf-vm/asdf.git $HOME/asdf

      - name: Test plugin
        run: |
          . $HOME/asdf/asdf.sh
          asdf plugin-add sml $GITHUB_WORKSPACE
          bats test
        env:
          GITHUB_API_TOKEN: ${{ github.token }}

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install shellcheck
        run: brew install shellcheck

      - name: Run ShellCheck
        run: shellcheck bin/*

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install shfmt
        run: brew install shfmt

      - name: Run shfmt
        run: shfmt -d -i 2 -ci .
